.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-color: rgb(204, 204, 204);
  z-index: 100;
}

.left-section {
  width: 160px;
  display: flex;
  align-items: center;
}

.middle-section {
  flex: 1;
  margin-left: 260px;
  margin-right: 210px;
  max-width: 500px;
  display: flex;
  align-items: center;
}

.right-section {
  width: 210px;
  display: flex;
  align-items: center;
}

.option-menu {
  width: 25px;
  padding-left: 25px;
}

.YouTube {
  width: 86px;
  padding-left: 19px;
}

.upload-icon {
  width: 24px;
  margin-right: 16px;
}

.youtube-apps {
  width: 24px;
  margin-left: 10px;
  margin-right: 10px;
}

.notification {
  width: 24px;
  margin-right: 10px;
  margin-left: 16px;
}

.account-logo {
  width: 32px;
  margin-left: 16px;
  border-radius: 16px;
}

.searchbar {
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 12px;
  flex: 1;
  border-radius: 2px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  box-shadow: rgb(238, 238, 238) 0px 1px 2px 0px inset;
  width: 0;
}

.searchbar::placeholder {
  font-family: Roboto, Arial;
  font-size: 16px;
}

.glass-logo {
  width: 24px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 12px;
  padding-right: 12px;
}

.mic-logo {
  width: 24px;
  padding-top: 7px;
  padding-bottom: 5px;
  padding-left: 2px;
  padding-right: 2px;
}

.magnifying {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(204, 204, 204);
  margin-left: -1px;
}

.microphone {
  margin-left: 8px;
  border-width: 0px;
  background-color: rgb(238, 238, 238);
  border-radius: 1000px;
}

.notifications {
  position: relative;
}

.notification-counter {
  position: absolute;
  background-color: rgb(209, 23, 23);
  color: white;
  top: 0;
  right: 0;
  font-size: 11px;
  font-family: Roboto, Arial;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 10px;
}
