.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 70px;
}

.left-section {
  background-color: aqua;
  width: 160px;
  display: flex;
  align-items: center;
}

.middle-section {
  background-color: pink;
  flex: 1;
  margin-left: 260px;
  margin-right: 210px;
  max-width: 500px;
}

.right-section {
  background-color: aqua;
  width: 200px;
}

.option-menu {
  width: 25px;
  padding-left: 25px;
}

.YouTube {
  width: 86px;
  padding-left: 19px;
}
